<!DOCTYPE html>
<html>
    <head>
        <title>Cryptocurrency</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>

    <body>
        <h2>Bit_101</h2>
        <div id="chart"></div>
        <div id="trades"></div>
        <script>
        //var exampleSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade");

        var tradediv = document.getElementById("trades")

        /*exampleSocket.onmessage = function (event) {
        console.log(event.data);
            }

            var messageobj = JSON.parse(event.data)
            tradediv.append(messageobj.p)*/

        </script>
        <script src="chart.js"></script>
   </body>
</html>